{% extends "base.html" %} {% load static %} {% block content %}
<div class="header-container container-fluid">
    <div class="row">
        <div class="col-12 px-0">
            <div class="hero-image">
                <div class="title-font  shadow px-2 mx-auto">
                    <h1 class="text-center my-auto hero-title">Sunny</h1>
                    <p class="text-center">Bang Bang</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="subscription-container">
  <div class="container">

      <div
        class="col-sm-12 col-md-8 col-lg-6 mb-3 mt-3 jumbotron jumbotron-subscriptions text-center"
      >

        <h2 class="text-center header-section">
          <strong>Chillies</strong>
        </h2>
        <hr class="w-50 mt-4" />
        <p class="text-center landing-paragraph mb-lg-4 mt-lg-4">
          Chillies come in all different sizes and flvours.
          <br />We have a selection of chillies at the hear of our sauces <br />Come see the chillies
        </p>

        <a
          href=""
          type="button"
          class="btn btn-outline-primary btn-1 text-center"
          >Chillies</a
        >
      </div>
    </div>
  </div>


<div class="container pt-3">
    <div class="row">
        <div class="col-6 home-col ">
            <img src="{{ MEDIA_URL }}sauce-hand.jpg" alt="" style="width: auto;max-height: 100% "
                class="img-fluid veg-basket-img rounded mx-auto d-block mx-auto">
                

        </div>
        <div class="col-6 home-col orange">
            <div class="mt-5">
                <h2 class="text-center header-section">
                    <strong>Sauce</strong>
                </h2>
                <hr class="w-50 mt-4" />
                <p class="text-center landing-paragraph mb-lg-4 mt-lg-4">
             
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 blue home-col">
            <h1>left</h1>
        </div>
        <div class="col-6">
            <img src="{{ MEDIA_URL }}homemade-sauce.jpg" alt="" height="300"
                class="img-fluid veg-basket-img rounded mx-auto d-block mx-auto">

        </div>
    </div>
</div>

<div class="header-container container-fluid">
    <div class="row">
        <div class="col-12 px-0">
            <div class="products-image">
                <div class="title-font shadow mx-auto px-2">
                    <h1 class="text-center my-auto hero-title">Products</h1>
                    <p class="text-center">Sauce and Merch</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row ">
        <div class="col justify-content-center  d-flex ">
            <a href="{% url 'products_criteria' %}?category=Sauce">
                <div class="card poroduct-card" style="width: 18rem; height: 18rem;">
                    <img class="img-fluid product-img" src=" {{ MEDIA_URL }}3-way-veg.jpg" alt="{{ c.name }}" />
                    <div class="card-body">
                        <h5 class="card-title">SAUCE</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col justify-content-center  d-flex mb-3">
            <a href="{% url 'products_criteria' %}?category=Merch">
                <div class="card product-card">
                    <img class="img-fluid product-img product-card" src=" {{ MEDIA_URL }}orgy-veg.jpg" alt="{{ c.name }}" />
                    <div class="card-body">
                        <h5 class="card-title">MERCH</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %} {% block postloadjs %}
<!--AOS SCript-->
<script>
    AOS.init();
</script>
<!--AOS SCript End-->
{% endblock %} {% include 'includes/footer.html' %}