@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

html {
  height: 100%;
}

body {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-family: "Raleway", serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  margin-top: 5rem;
}


ul {
  margin: 0;
}

.nav {
  background-color: black;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/* ------------------------------- Allauth */

.allauth-form-inner-content p {
  margin-top: 1.5rem; /* mt-4 */
  color: black; /* text-secondary */
  font-weight: bolder;
}

.allauth-form-inner-content input {
  border-color: black;
  border-radius: 0.5;
}

.allauth-form-inner-content label:not([for="id_remember"]) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type="submit"] {
  /* btn */
  display: inline-block;
  font-weight: 400;
  background-color: transparent;
  color: black;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0 0 5px 2px rgba(71, 126, 232, 0.5);
  border: 1px solid #000;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Comfortaa', cursive;


  /* standard bootstrap btn transitions */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type="submit"]:hover {
  color: #fff;
  background-color: #222;
  border-color: #222;
}

.allauth-form-inner-content a {
  color: black; /* text-info */
}

/* ------------------------------- Home */

/* images */
.hero-image {
  background: url("/media/it-bangs.jpg") no-repeat center center fixed;
  object-fit:cover;
  height: 100vh;
  width: 100vw;
  border: 1px solid black !important;
}

.about-img {
  background: url("/media/sunny-double.jpg") no-repeat center center fixed;
  background-attachment: fixed;   
  object-fit:cover;
  height: 100vh;
  position: inline-block;
}
 
/* cards */

.card-about {
    width: 75vh;
}

.product-card {
    width: 18rem;
    height: 18rem;
    background-color: #FFF;
    border: none;
    -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}

.product-card:hover {
  background-color: #FFF;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(219, 14, 14, 0.75);
  -moz-box-shadow: 10px 10px 93px 0px rgba(219, 14, 14, 0.75);
  box-shadow: 10px 10px 93px 0px rgba(219, 14, 14, 0.75);
  transform: scale( 1.1);
}

.card-1 {
    top: 350px;
    width: 400px;
    z-index: 1;
    height: 50vh;
}

.divide {
    height: 50px;
    background-color: black;;
}

.about-container {
    box-shadow: 0 0 10px black;
}

.box-shadow
{
box-shadow: 0 0 10px black;
}

/* Headings & Text*/

.title-font {
  position: relative;
  top: 30%;
  font-size: 40px;
  color: whitesmoke;
  letter-spacing: 6px;
}

.hero-title {
    font-size: 60px;
    color: green;
}

/* Padding*/

.padding-top {
   padding-top: 50px;
}

.padding-bottom {
   padding-bottom: 50px;
}

.sub-heading, .hero-title {
    text-shadow: 1px 1px black;
    animation: mymove 12s infinite;
}


@keyframes mymove {
  50% {text-shadow: 10px 20px 30px red;}
}




/* The card */
.the-card {
  position: relative;
  height: 450px;
  width: 900px;
  margin: 200px auto;
  background-color: #FFF;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  display: block;
}



.no-border{
    border: none;
}


.d-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    line-height:  60px;
    border:  2px solid black;
    text-align:  center;
    font-weight: 900;
    padding:  0px!important;
    font-size:  20px;
    color:  black;
    top: 30%;
    position: relative;

 }

.d-button:hover  {
     color: red;
     background:  rgba(255, 255, 255, 0.2);
     transform: scale( 1.75);
     outline-offset: 70px;

 }

.card-body {
    border: none;
}

.no-d {
    text-decoration: none;
}

 a  {
    text-decoration: none;
    text-align: center;
}


a:hover {
    text-decoration: none;
}

.sub-heading {
    color: #000;
}

