@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

html {
  height: 100%;
}

body {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-family: "Raleway", serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.allauth-form-inner-content p {
  margin-top: 1.5rem; /* mt-4 */
  color: black; /* text-secondary */
  font-weight: bolder;
}

.allauth-form-inner-content input {
  border-color: black;
  border-radius: 0.5;
}

.allauth-form-inner-content label:not([for="id_remember"]) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type="submit"] {
  /* btn */
  display: inline-block;
  font-weight: 400;
  background-color: transparent;
  color: black;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0 0 5px 2px rgba(71, 126, 232, 0.5);
  border: 1px solid #000;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Comfortaa', cursive;


  /* standard bootstrap btn transitions */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type="submit"]:hover {
  color: #fff;
  background-color: #222;
  border-color: #222;
}

.allauth-form-inner-content a {
  color: black; /* text-info */
}

/* ------------------------------- Home */


.hero-image {
  background: url("/media/it-bangs.jpg") no-repeat center center fixed;
  object-fit:cover;
  height: 100vh;
  width: 100vw;
  border: 1px solid black !important;
}

.orange {
    background-color:orange;
}

.blue {
    background-color: blue;
}


.title-font {
  position: relative;
  top: 30%;
  font-size: 40px;
  color: whitesmoke;
  letter-spacing: 6px;
}

.hero-title {
    font-size: 60px;
    color: green;
}

.home-col {
    height: 400px;
    border: 1px black solid;
}

.jumbotron-subscriptions {
  margin-top: 0%;
  color: white;
  background-color: rgb(253, 89, 86, 0.5);
  z-index: 3;
}

.subscription-container {
  background-color: salmon;
  background: radial-gradient(
      rgba(249, 238, 238, 0.91),
      rgba(152, 142, 142, 0.04)
    ),
    url("/media/chillies.jpg") no-repeat center center fixed;
  background-size: cover;
}

.header-section {
  text-align: center;
  margin-top: 40px;
}

/* ------------------------------- Home */

.product-card {
    width: 18rem;
    height: 18rem;
    box-shadow: 1px 2px 3px black;
}

